site_name: node-app
site_description: Documentation for node-app

nav:
  - Home: index.md
  - Architecture: architecture.md
  - API Reference: api.md

plugins:
  - techdocs-core

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

